<!DOCTYPE html>
<html>

  <%= render "layouts/inc/head" %>

  <body id="rf">

    <%= render "layouts/inc/header" %>

    <%= render "layouts/inc/alert" %>

	  <!-- Main Content -->

    <div class="bg-white">

  	  <div class="container py-5">
        <h3 class="font-weight-normal letter-spacing-1 text-uppercase mb-2"><i class="fal fa-building"></i> Organizations</h3>
        <hr class="border-dark my-3">
  	    <%= yield %>
  	  </div>

    </div>

	  <!-- Footer -->

    <%= render "layouts/inc/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
